<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Нефтебаза</title>

    <link href="static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="static/css/carousel.css" rel="stylesheet">

  </head>
  <body>
    
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a  class="active navbar-brand" href="{% url 'main_page' %}">Главная</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Продукция<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="products.html">Керосин</a></li>
                    <li><a href="products.html">Бензин</a></li>
                    <li><a href="products.html">Мазут</a></li>
                    <li><a href="products.html">Газ</a></li>
                    <li><a href="products.html">Масло</a></li>
                    <li><a href="products.html">Нефть</a></li>
                    <li><a href="products.html">ГСМ</a></li>
                  </ul>
                </li>
                <li><a href="{% url 'delivery_page' %}">Поставщики</a></li>
                <li><a href="{% url 'dilers_page' %}">Доставка</a></li>
                <li><a href="{% url 'contacts_page' %}">Контакты</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

	{% block content %}
	{% endblock %}

      <footer>
        <p class="pull-right"><a href="#">Вверх</a></p>
        <p>&copy; 2015 Company, Inc.</a></p>
      </footer>
    </div>

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js//jquery.min.js"><\/script>')</script>
    <script src="static/js/map.js" type="text/javascript"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/holder.min.js"></script>
    <script src="static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>